<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-completo.html}">
<body>
	<section class="aw-layout-content  js-content"  layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h1>
							Fila de Processamento - PrintNet
						</h1>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container-fluid">
			<div>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				  <!-- modal-sm -->
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
				      </div>
				      <div class="modal-body">
				        <form method="post" action="#" name="formPesquisaFilaPrinNet">
				        	<div class="form-group">
				        		<label class="control-label">Teste</label>
				        		<input class="form-control  input-sm" type="text"/>
				        	</div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		
			<br/>
			<div class="table-responsive" th:if="${not #lists.isEmpty(fila)}">
				<table class="table  table-bordered  table-condensed  table-hover">
					<thead>
						<tr>
							<th style="width: 100px"><input type="checkbox" /> Requisição</th>
							<th style="width: 65px">Job</th>
							<th style="width: 65px">Lote</th>
							<th style="width: 65px">Cliente</th>
							<th style="width: 85px">Produto PK</th>
							<th style="width: 85px">Ambiente</th>
							<th style="width: 65px">Execução</th>
							<th>Ident. Externa</th>
							<th style="width: 140px">Cadastro</th>
							<th style="width: 100px" class="text-center">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="processo : ${fila}" th:style="|background:${processo.status.cor}|">
							<td ><input type="checkbox"/> <span th:text="${processo.idRequisicao}"></span></td>
							<td th:text="${processo.idJob}"></td>
							<td th:text="${processo.idLote}"></td>
							<td th:text="${processo.idClienteGlobal}"></td>
							<td th:text="${processo.idProdutoPk}"></td>
							<td th:text="${processo.ambiente.descricao}">Ambiente</td>
							<td>PrintNet</td>
							<td th:text="${processo.identificacaoExterna}"></td>
							<td th:text="${{processo.dataCadastro}}"></td>
							<td class="text-center  content">
								<a data-placement="top" title="Configurações" 
									class="js-tooltip  btn  btn-link  btn-xs  js-button-config"
									data-toggle="modal" 
									data:url="@{/parametro/{idProcessamento}(idProcessamento=${processo.idProcessamento})}">
									<i class="fa fa-cog" aria-hidden="true"></i>
								</a>
								<a data-placement="top" title="Reiniciar processamento" 
									class="js-tooltip  btn  btn-link  btn-xs" th:if="${processo.status.reprocesso}">
									<i class="fa fa-refresh" aria-hidden="true"></i>
								</a>
								<a data-placement="top" title="Informações" 
									class="js-tooltip  btn  btn-link  btn-xs">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</a>
								<a data-placement="top" title="Abortar Processamento" 
									class="js-tooltip  btn  btn-link  btn-xs" th:if="${processo.status.abortar}">
									<i class="fa fa-stop-circle" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="alert  aw-alert-no-results" role="alert" th:if="${#lists.isEmpty(fila)}">
				A pesquisa não retornou nenhum produto.
			</div>
		</div>
		
		<!-- Modal de Configuração -->
		<div class="modal fade  js-show-modal-configuracoes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <!-- modal-sm -->
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		        <form method="post" action="#" name="formPesquisaFilaPrinNet">
		        	<div class="form-group">
		        		<label class="control-label">Teste</label>
		        		<input class="form-control  input-sm" type="text"/>
		        	</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	
	<th:block th:fragment="javascripts-extra">
		<script>
			
		</script>
	</th:block>
</body>
</html>