<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao.html}">
<body class="loading-overlay-showing" data-loading-overlay> 
	<div class="body">
		<section layout:fragment="conteudo">
			<div role="main" class="main">
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>P&aacute;gina n&atilde;o encontrada :( </h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a th:href="@{/}">Home</a></li>
									<li class="active">Em constru&ccedil;&atilde;o</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<br><br>
							<img th:src="@{/img/ico_desenvolvimento.png}" title="P&aacute;gina n&atilde;o encontrada"></img>
							<br><br>
							<br><br>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
