<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao.html}">
<body>
	<div class="body" >
		<section layout:fragment="conteudo">
			<div th:replace="imoveis/carrocel :: layout-carrocel"></div>
			<div class="container">
				<div class="row pt-xlg mt-xlg">
					<div th:replace="imoveis/lista_imoveis :: layout-listaimovies"></div>
					<div th:replace="imoveis/ofertas :: layout-ofertas"></div>
					
				</div>
			</div>
		</section>
	</div>
</body>
</html>
