<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao.html}">

<body class="loading-overlay-showing" data-loading-overlay>
	<div class="body" >
		<section layout:fragment="conteudo">
			<div role="main" class="main">
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Cadastre-se!<span>Seja bem vindo ao portal. Encontre aqui a facilidadde para vender ou encontrar seu imóvel</span></h1><br>
								<i>Importante: Ser&aacute; enviado um e-mail para confirmar dos dados inserido e finaliza&ccedil;&atilde;o do cadastro.</i>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a th:href="@{/}">Home</a></li>
									<li class="active">Cadastro Perfil</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			
				<div class="container">
					<div class="row">
						<div class="col-md-8">
			
							<form id="frmLogin">
								<input type="hidden" value="Contact Form" name="subject" id="subject">
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>* Nome:</label>
											<input type="text" class="form-control" placeholder="Informe seu nome" name="rg_nome" id="rg_nome" title="Por favor, preencha o campo Nome" required /><br>
										</div>
										<div class="col-md-6">
											<label>* Sobre Nome:</label>
											<input type="text" class="form-control" placeholder="Informe seu sobre nome" name="rg_sobrenome" id="rg_sobrenome" title="Por favor, preencha o campo Sobre Nome" required /><br>
										</div>
									</div>
								</div>
			
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>* Usu&aacute;rio:</label>
											<input type="text" class="form-control" placeholder="Como gostaria de ser chamado(a)?" name="rg_usuario" id="rg_usuario" title="Por favor, preencha o campo Usu&aacute;rio" required /><br>
										</div>
										<div class="col-md-6">
											<label>Selecione uma op&ccedil;&atilde;o</label><br>
											<ul  class="nav nav-pills" id="mainNav">
												<li><input type="radio" name="rg_usuario" value="2" checked>&nbsp;Corretor&nbsp;&nbsp;</li>
												<li><input type="radio" name="rg_usuario" value="3">&nbsp;Propriet&aacute;rio</li>
											</ul>
										</div>
									</div>
								</div>
			
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>* E-mail:</label>
											<input type="email" value="" data-msg-required="Informe seu e-mail de acesso." maxlength="100" class="form-control" name="rg_email" id="rg_email" required>
										</div>
										<div class="col-md-6">
											<label>* Senha:</label>
											<input type="password" value="" data-msg-required="Informe sua senha de acesso."  maxlength="10" class="form-control" name="rg_senha" id="rg_senha" required>
										</div>
									</div>
								</div>
			
								<div class="row">
									<div class="col-md-12">
										<input type="submit" value="Confirmar cadastro" class="btn btn-secondary mb-xlg" data-loading-text="Aguarde...">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>