<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WebJars Demo</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    </head>
    <body>
        <div class="container"><br/>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                  aria-label="close">×</a>
                <strong>Success!</strong> It is working as we expected.
            </div>
            
            <div class="row">
            		<div class="form-group  col-sm-3">
            			<label class="control-label">Placa</label>
            			<input type="text" class="form-control"/>
            		</div>
            		
            		<div class="form-group  col-sm-3">
            			<label class="control-label">Renavan</label>
            			<input type="text" class="form-control"/>
            		</div>
            		
            		<div class="form-group  col-sm-3">
            			<label class="control-label">CPF / CNPJ</label>
            			<input type="text" class="form-control"/>
            		</div>
            </div>
        </div>
        
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    </body>
</html>