<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<header id="header" class="header-narrow" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 37, 'stickySetTop': '-37px', 'stickyChangeLogo': false}" th:fragment="layout-header">
			<div class="header-body background-color-primary pt-none pb-none">
				<div class="header-top header-top header-top-style-3 header-top-custom background-color-primary m-none">
					<div class="container">
						<nav class="header-nav-top pull-left">
							<ul class="nav nav-pills">
								<li class="hidden-xs">
									<span class="ws-nowrap">
										<i class="icon-location-pin icons"></i> Osasco, São Paulo
									</span>
								</li>
								<li>
									<span class="ws-nowrap">
										<i class="icon-call-out icons"></i> (55+ 11) 96977-5700
									</span>
								</li>
								<li class="hidden-xs">
									<span class="ws-nowrap">
										<i class="icon-envelope-open icons"></i> 
										<a class="text-decoration-none" href="mailto:focoimovel@contato.com.br">focoimovel@contato.com.br</a>
										<a th:text="#{focoimovel.email}"></a>
									</span>
								</li>
							</ul>
						</nav>
						<nav class="header-nav-top langs pull-right mr-none">
							<ul class="nav nav-pills">
								<li>
									<a href="#" class="dropdown-menu-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										Login&nbsp;<img th:src="@{/img/ico_login.png}" width="20" height="20"></img>
									</a>
									<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
										<li>	
											<a th:href=@{/login}>
												<img th:src='@{/img/ico_login.png}' width='20' height='20'></img>&nbsp;Efetuar login
											</a>
										</li>
										<li>	
											<a th:href=@{/cadastro}>
												<img th:src='@{/img/ico_cadastro.png}' width='20' height='20'></img>&nbsp;Cadastrar no portal
											</a>
										</li>
									</ul>
								</li>
								<li class="blog">
									<a th:href="@{/login}" title="Clique aqui para anunciar um im&oacute;vel">
										Anunciar&nbsp;<img th:src="@{/img/ico_anunciar.png}" width="20" height="20"></img>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="header-container container custom-position-initial">
					<div class="header-row">
						<div class="header-column">
							<div class="header-logo">
								<a th:href="@{/}">
									<img alt="Porto" width="143" height="40" th:src="@{/img/logos/logo_focoimovel.png}"></img>
								</a>
							</div>
						</div>
						<div class="header-column">
							<div class="header-row">
								<div class="header-nav">
									<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
										<i class="fa fa-bars"></i>
									</button>
									<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse m-none">
										<nav>
											<ul class="nav nav-pills" id="mainNav">
												<li class="dropdown-full-color dropdown-quaternary active">
													<a th:href="@{/}">
														Home
													</a>
												</li>
												<li class="dropdown-full-color dropdown-quaternary">
													<a th:href="@{/listaimoveis}">
														Imóveis
													</a>
												</li>
												<li class="dropdown dropdown-full-color dropdown-quaternary">
													<a class="dropdown-toggle" href="#">
														Quem somos
													</a>
													<ul class="dropdown-menu">
														<li><a th:href="@{/emconstrucao}">Corretores</a></li>
														<li><a th:href="@{/emconstrucao}">Sobre a empresa</a></li>
													</ul>
												</li>
												<li class="dropdown-full-color dropdown-quaternary">
													<a th:href="@{/contato}">
														Contato
													</a>
												</li>
												<li class="dropdown dropdown-full-color dropdown-quaternary dropdown-mega" id="headerSearchProperties">
													<a class="dropdown-toggle" href="#">
														Pesquisa &nbsp;<img th:src="@{/img/ico_pesquisa.png}" width="20" height="20"></img>
													</a>
													<ul class="dropdown-menu custom-fullwidth-dropdown-menu">
														<li>
															<div class="dropdown-mega-content">
																<form id="propertiesFormHeader">
																	<div class="container p-none">
																		<div class="row">
																			<div class="col-md-2">
																				<div class="form-control-custom">
																					<select class="form-control text-uppercase font-size-sm"  data-msg-required="Por favor, selecionar uma finalidade do im&oacute;vel." id="frmPF" name="frmPF">
																						<option value="">Finalidade</option>
		
																						<option value='Alugar'>Alugar</option><option value='Comprar'>Comprar</option>																			</select>
																				</div>
																			</div>
																			<div class="col-md-2">
																				<div class="form-control-custom">
																					<select class="form-control text-uppercase font-size-sm" data-msg-required="Por favor, selecionar o tipo da resid&ecirc;ncia." id="frmPT" name="frmPT">
																						<option value="">Tipo residência</option>
																						<option value='Apartamento'>Apartamento</option>
																						<option value='Casa'>Casa</option>
																						<option value='Casa de Condomínio'>Casa de Condomínio</option>
																						<option value='Chácara'>Chácara</option>
																						<option value='Cobertura'>Cobertura</option>
																						<option value='Comercial'>Comercial</option>
																						<option value='Consultório'>Consultório</option>
																						<option value='Edifício residencial'>Edifício residencial</option>
																						<option value='Fazenda/Sítio'>Fazenda/Sítio</option>
																						<option value='Flat'>Flat</option>
																						<option value='Galpão/Depósito/Armazém'>Galpão/Depósito/Armazém</option>
																						<option value='Imóvel comercial'>Imóvel comercial</option>
																						<option value='Kitnet'>Kitnet</option>
																						<option value='Loja'>Loja</option>
																						<option value='Lote/Terreno'>Lote/Terreno</option>
																						<option value='Lote/Terreno'>Lote/Terreno</option>
																						<option value='Ponto comercial'>Ponto comercial</option>
																						<option value='Residencial'>Residencial</option>
																						<option value='Sala comercial'>Sala comercial</option>
																						<option value='Sobrado'>Sobrado</option>																			</select>
																				</div>
																			</div>
																			<div class="col-md-2">
																				<div class="form-control-custom">
																					<select class="form-control text-uppercase font-size-sm" name="frmVlrMin"  id="frmVlrMin" >
																						<option value="">Valor min&iacute;mo</option>
																						<option value="5000000">50,000.00</option>
																						<option value="10000000">100,000.00</option>
																						<option value="15000000">150,000.00</option>
																						<option value="20000000">200,000.00</option>
																						<option value="25000000">250,000.00</option>
																						<option value="30000000">300,000.00</option>
																						<option value="">Indiferente</option>
																					</select>
																				</div>
																			</div>
																			<div class="col-md-2">
																				<div class="form-control-custom">
																					<select class="form-control text-uppercase font-size-sm" name="frmVlrMax" id="frmVlrMax" >
																						<option value="">Valor m&aacute;ximo</option>
																						<option value="35000000">350,000.00</option>
																						<option value="45000000">450,000.00</option>
																						<option value="50000000">500,000.00</option>
																						<option value="55000000">550,000.00</option>
																						<option value="60000000">600,000.00</option>
																						<option value="">Indiferente</option>
																					</select>
																				</div>
																			</div>
		
																			<div class="col-md-2">
																				<div class="form-control-custom">
																					<input type="text" class="form-control" placeholder="Localidade" name="frmPL" id="frmPL" title="Informe a localidade que deseja." maxlength="100" required="required"  /><br/>
																				</div>
																			</div>
		
																			<div class="col-md-2">
																				<input type="submit" value="OK" class="btn btn-secondary btn-lg btn-block text-uppercase font-size-sm"/>
																			</div>
																			<div class="col-md-8">
																				<a href="emconstrucao.html"><img th:src="@{/img/ico_pesquisa_avancada.png}" width="20" height="20"></img>
																					&nbsp;Pesquisa avançada
																				</a>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
														</li>
													</ul>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>