<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:strong th:fragment="layout-lancamentos">
			<hr class="dashed"></hr>
			<div class="row pb-lg mt-xlg">
				<div class="col-md-12">
					<h2 class="mt-xs mb-none">Grandes <strong class="text-color-secondary font-weight-extra-bold"> Lan&ccedil;amentos</strong></h2>
				</div>
			</div>
			<div class="row pb-lg mb-xlg">
				<div class="col-sm-4 col-md-4">
					<div class="special-offer-item center text-color-light">
						<a href="demo-real-estate-properties.html" class="text-decoration-none">
							<span class="special-offer-wrapper">
								<img th:src="@{/img/demos/real-estate/listings/listing-exclusive-location-1.jpg}" class="img-responsive" alt=""></img>
								<span class="special-offer-infos text-color-light">
									<span class="special-offer-title font-weight-normal text-lg p-xs mb-xs">
										Palm Beach
									</span>
									<button class="btn btn-secondary text-uppercase p-sm pl-md pr-md">11 Properties</button>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 xs-custom-mt-xlg">
					<div class="special-offer-item center text-color-light">
						<a href="demo-real-estate-properties.html" class="text-decoration-none">
							<span class="special-offer-wrapper">
								<img th:src="@{/img/demos/real-estate/listings/listing-exclusive-location-2.jpg}" class="img-responsive" alt=""></img>
								<span class="special-offer-infos text-color-light">
									<span class="special-offer-title font-weight-normal text-lg p-xs mb-xs">
										Fischer Island
									</span>
									<button class="btn btn-secondary text-uppercase p-sm pl-md pr-md">2 Properties</button>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 xs-custom-mt-xlg">
					<div class="special-offer-item center text-color-light">
						<a href="demo-real-estate-properties.html" class="text-decoration-none">
							<span class="special-offer-wrapper">
								<img th:src="@{/img/demos/real-estate/listings/listing-exclusive-location-3.jpg}" class="img-responsive" alt=""></img>
								<span class="special-offer-infos text-color-light">
									<span class="special-offer-title font-weight-normal text-lg p-xs mb-xs">
										South Miami
									</span>
									<button class="btn btn-secondary text-uppercase p-sm pl-md pr-md">25 Properties</button>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</th:strong>
	</body>
</html>