<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-simples.html}">
	
	<section layout:fragment="conteudo">
		<form action="#" method="post" th:action="@{/recuperar/novasenha}" th:object="${recuperarSenhaDto}">		
			<div class="aw-simple-panel">
				<img alt="MetaSolutions"  th:src="@{/images/logo.gif}"/>
				
				<div class="aw-simple-panel__message">
					Informe o seu e-mail abaixo para receber as instruções de como criar uma nova senha.
				</div>
				
				<div class="aw-simple-panel__box">
					<div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem_recup)}" >
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <span th:text="${mensagem_recup}"></span>
					</div>
					
					<div th:if="${#fields.hasErrors('email')}">
						<div class="alert alert-danger alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong>E-mail</strong> informado não é valido.
						</div>
					</div>
				
					<div class="form-group  has-feedback" th:classappend="${#fields.hasErrors('email')} ? has-error">
						<input type="text" class="form-control  input-lg" placeholder="Seu e-mail@metaslt.com.br"  th:field="*{email}">
						<span class="glyphicon  glyphicon-envelope  form-control-feedback" aria-hidden="true"></span>
					</div>
					
					<div class="form-group">
					<button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width">Criar nova senha</button>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>