<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:lipo="http://liporeduce.lndsystem.com.br">
<body>
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de usuário
				</h1>
			</div>
		</div>
		
		<div class="container-fluid">
			
		
			<form method="post" class="form-vertical  js-form-loading" th:object="${usuario}" th:action="@{/usuario/novo}">
				<lipo:message/>
			
				<input type="hidden" th:field="*{codigo}" />
				<div class="row">
					<div class="form-group  col-sm-6" lipo:classforerror="nome">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
					
					<div class="form-group  col-sm-6" lipo:classforerror="email">
						<label for="email" class="control-label">E-mail</label>
						<input id="email" type="text" class="form-control" th:field="*{email}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-sm-6" lipo:classforerror="senha">
						<label for="senha" class="control-label">Senha</label>
						<input id="senha" type="password" class="form-control" th:field="*{senha}"/>
					</div>
			
					<div class="form-group  col-sm-6" lipo:classforerror="tipoUsuario">
						<label for="tipoUsuario" class="control-label">Tipo Usuário</label>
						<select class="form-control" th:field="*{tipoUsuario}">
							<option value="">Selecione...</option>
							<option th:each="tipoUsuario : ${tiposUsuario}" th:value="${tipoUsuario}" th:text="${tipoUsuario.descricao}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>				
				</div>
			</form>
		</div>
	</section>
</body>
</html>